# Ignore all raw and processed audio data
data/raw/
data/processed/

# Ignore features CSVs (if you don't want to push them)
# Comment the next line if you DO want to push combined_features.csv
data/features/*.csv

# ignore audio files by extension (safe guard)
*.wav
*.flac
*.mp3
*.ogg

# Python & env
venv/
__pycache__/
*.pyc
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# archives
*.zip
*.tar.gz
